body {
  margin: 0;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  color: #738f93;
  font-size: 40px;
  font-family: fantasy, sans-serif;
  margin-bottom: 0;
}

.img-home {
  width: 500px;
  padding: 50px;
}

.btn-search {
  background-color: #1ba94c;
  color: #ffffff;
  box-shadow: 0 4px 12px rgb(27 169 76 / 50%);
  font-size: 18.005px;
  padding-left: 1.528em;
  padding-right: 1.528em;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 2.778em;
  border: none;
  cursor: pointer;
}

.btn-search:hover {
  background-color: #ffffff;
  border: 1px solid #1ba94c;
  color: #1ba94c;
}

.characters {
  padding: 30px 50px 50px;
}

.characters h1 {
  margin-top: 0;
}

.container-characters {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  padding-bottom: 50px;
}

.character-container {
  display: flex;
  background: #3c3e44;
  margin: 20px 10px;
  border-radius: 10px;
  align-items: flex-start;
}

.character-container h3 {
  margin: 10px 0;
}

.character-container h6 {
  margin-top: 0px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
}

.character-container .dead,
.alive {
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.375rem;
  border-radius: 50%;
  display: inline-block;
}

.character-container .dead {
  background: rgb(214, 61, 46);
}

.character-container .alive {
  background: rgb(85, 204, 68);
}

.character-container div:first-child {
  height: 100%;
}
.character-container div:last-child {
  text-align: left;
  padding-left: 20px;
}

.character-container div:last-child p {
  text-align: left;
}

.character-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.character-container p {
  font-size: 17px;
  text-align: center;
  margin: 5px 0;
}

.text-grey {
  color: #9e9e9e;
}

.back-home {
  text-decoration: underline;
  cursor: pointer;
  font-size: 15px;
}

@media (max-width: 768px) {
  .characters {
    padding: 0 20px;
  }

  .container-characters {
    display: table-cell;
  }

  .character-container {
    width: auto;
  }

  .character-container {
    margin: 10px 0;
  }

  .character-container img {
    width: 150px;
  }
}
